.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease-out;

  @starting-style {
    opacity: 0;
  }
}

.dialog {
  background: transparent;
  padding: 12px;
  outline: none;
  border: none;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;

  @starting-style {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.box {
  padding: 16px;
  max-width: 750px;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
}
